* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  background: #fafafa; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:hover {
    text-decoration: none; }

.color-accent {
  color: #1AA3E0; }

button, .btn {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
    border-radius: 0; }

.btn-blue {
  border-radius: 8px;
  width: 91px;
  height: 32px; }

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
  border-radius: 8px;
  margin-left: 0; }

.or {
  margin: 22px auto 24px;
  font-weight: 500;
  width: 100%;
  text-align: center; }

.btn-green {
  background: #81C728; }

.btn-blue {
  background: #1AA3E0; }

.btn-red {
  background: #DB635A; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff; }
  .btn:hover {
    -webkit-box-shadow: 0 10px 20px rgba(26, 163, 224, 0.3);
            box-shadow: 0 10px 20px rgba(26, 163, 224, 0.3);
    color: #fff; }

.btn-disable {
  background: #1AA3E0;
  opacity: .5; }

.links {
  color: #1AA3E0;
  opacity: .5;
  font-size: 14px;
  font-weight: bold; }

.btn-accent {
  border-radius: 8px;
  background: #1AA3E0;
  -webkit-box-shadow: 0 10px 20px rgba(26, 163, 224, 0.3);
          box-shadow: 0 10px 20px rgba(26, 163, 224, 0.3);
  font-size: 14px;
  font-weight: bold; }
  .btn-accent:hover {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.body {
  color: #424B62; }
  .body .container {
    max-width: 1310px; }

input, textarea, .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #424B62;
  padding: 0 10px;
  border: 1px solid rgba(66, 75, 98, 0.15);
    border-radius: 4px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #424B62; }
  input::-moz-placeholder, textarea::-moz-placeholder, .form-control::-moz-placeholder {
    color: #424B62; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #424B62; }
  input::placeholder, textarea::placeholder, .form-control::placeholder {
    color: #424B62; }
  input:hover, input:focus, textarea:hover, textarea:focus, .form-control:hover, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

select {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 500;
  padding: 0 10px;
  border: none;
    border-radius: 4px;
  cursor: pointer; }
  select::-webkit-input-placeholder {
    color: #FFFFFF; }
  select::-moz-placeholder {
    color: #FFFFFF; }
  select::-ms-input-placeholder {
    color: #FFFFFF; }
  select::placeholder {
    color: #FFFFFF; }
  select:hover, select:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

svg {
  display: inline-block;
  width: 100%;
  height: 100%; }

.links-active {
  color: #988FF2; }

.logo span {
  display: inline-block; }

.body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: url("../img/line.svg") no-repeat center;
    background-size: 100%; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.nav {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.nav-item {
  margin: 0 26px 0 0; }
  .nav-item:last-child {
    margin: 0; }

.nav-link {
  color: #9B9EA8;
  font-size: 13px;
  padding: 0;
  font-weight: 600; }
  .nav-link:hover {
    color: #fff; }

.nav-link.active {
  color: #fff; }

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .wrapper .row {
    height: 100%; }

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  min-height: 100%; }

.content {
  width: calc(100% - 96px);
  position: relative; }

header {
  background: #424B62;
  color: #fff; }
  header .support-box {
    font-weight: 500;
    margin: 0 40px 0 0; }
  header .dropDown-menu {
    top: 80px; }
    header .dropDown-menu a {
      padding: 0;
      width: 100%; }
  header .logo {
    width: 42px;
    height: 100%; }
    header .logo svg path {
      fill: #988FF2; }
  header .links-active {
    color: #988FF2; }

.dropItem-language {
  padding: 0 0 0 40px; }
  .dropItem-language:before {
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: '';
    position: absolute;
    width: 1px;
    height: 47px;
    background: #98A4C4; }

.support-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9B9EA8;
  font-weight: 500; }
  .support-box .header-item__icon {
    margin: 0 11px 0 0;
    width: 22px;
    height: 22px; }
  .support-box:hover {
    color: #fff; }

.header-item {
  margin: 0 32px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #9B9EA8;
  font-weight: 500; }
  .header-item__icon {
    margin: 0 10px 0 0;
    fill: none;
    width: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header-item:last-child {
    margin: 0; }
  .header-item:hover {
    color: #fff; }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 0; }
  .header-menu li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu li a {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      padding: 29px 30px; }
      .header-menu li a:hover {
        color: #988FF2;
        background: #353C4F; }
    .header-menu li .dropDown-menu a {
      padding: 0;
      width: 100%;
      text-transform: none;
      font-weight: normal;
      font-size: 14px;
      color: #9B9EA8; }

footer {
  padding: 45px 0 25px;
  background: #424B62; }
  footer .logo {
    text-align: center;
    margin: 0 auto 32px; }

.list-social {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-social li {
    margin: 0 24px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 18px;
      height: 18px; }

.copyright {
  text-align: center;
  color: #98A4C4;
  font-size: 12px;
  line-height: 15px; }

.footer-menu__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.footer-box {
  line-height: 200%;
  margin: 0 0 34px; }
  .footer-box h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 900; }

.footer-menu li a {
  color: #98A4C4;
  font-size: 14px;
  font-weight: 500; }
  .footer-menu li a:hover {
    color: #fff; }

.wrapper .info-box {
  text-align: center;
  margin: 0 auto 80px;
  font-weight: 500;
  color: #424b62;
  line-height: 20px; }
  .wrapper .info-box a {
    display: inline; }
    .wrapper .info-box a:hover {
      color: #424b62; }
  .wrapper .info-box span {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #98A4C4;
    margin: 24px 0 0; }

.form {
  max-width: 626px;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 30px rgba(68, 68, 68, 0.16);
          box-shadow: 0 20px 30px rgba(68, 68, 68, 0.16);
  background: #fff;
  border: 1px solid rgba(152, 164, 196, 0.5);
  margin: 78px auto 46px;
  padding: 24px; }
  .form .form-group__title {
    margin: 0; }
  .form label {
    width: 100%;
    position: relative; }
  .form input {
    padding: 0 0 12px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgba(152, 164, 196, 0.8);
    border: none;
      border-radius: 0;
      border-bottom: 1px solid #22283C; }
    .form input::-webkit-input-placeholder {
      color: rgba(152, 164, 196, 0.8); }
    .form input::-moz-placeholder {
      color: rgba(152, 164, 196, 0.8); }
    .form input::-ms-input-placeholder {
      color: rgba(152, 164, 196, 0.8); }
    .form input::placeholder {
      color: rgba(152, 164, 196, 0.8); }
    .form input:valid, .form input:invalid, .form input:required:valid, .form input:required:invalid {
      color: #22283C; }
  .form .btn {
    width: 100%;
    height: 61px;
    border-radius: 8px;
    font-size: 21px;
    font-weight: bold; }
    .form .btn .icon {
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0; }

.form-login input {
  color: #22283C; }
  .form-login input::-webkit-input-placeholder {
    color: #22283C; }
  .form-login input::-moz-placeholder {
    color: #22283C; }
  .form-login input::-ms-input-placeholder {
    color: #22283C; }
  .form-login input::placeholder {
    color: #22283C; }

.btn-view {
  position: absolute;
  right: 0;
  bottom: 9px;
  width: 20px;
  height: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 1;
  cursor: pointer; }

.links-green {
  color: #81C728;
  font-weight: 500;
  font-size: 16px; }
  .links-green:hover {
    color: rgba(152, 164, 196, 0.8); }

.btn-soc {
  margin: 0 0 17px; }
  .btn-soc:last-child {
    margin: 0; }

.form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px;
  color: rgba(66, 75, 98, 0.5);
  font-size: 21px;
  font-weight: 600; }
  .form-title__icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.form-group {
  margin: 0 0 23px; }

.form-group__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 8px; }

.form-group__title {
  color: #424B62;
  font-size: 14px; }

.d-mobile {
  display: none; }

.mobile-menu, .sorting-mobile {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 11;
  width: 100%;
  background: #2F3545;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 19px 24px 0; }
  .mobile-menu .header-item, .sorting-mobile .header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 21px;
    font-size: 12px; }
    .mobile-menu .header-item:last-child, .sorting-mobile .header-item:last-child {
      margin: 0; }
  .mobile-menu .dropDown-menu, .sorting-mobile .dropDown-menu {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 18px 0 27px; }
    .mobile-menu .dropDown-menu:before, .sorting-mobile .dropDown-menu:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 0;
      width: calc(100% + 50px);
      height: 100%;
      background: #232834; }
  .mobile-menu .support-box, .sorting-mobile .support-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .mobile-menu .header-menu li, .sorting-mobile .header-menu li {
    width: 100%; }
    .mobile-menu .header-menu li a, .sorting-mobile .header-menu li a {
      padding: 0; }

.line-title__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 24px; }
  .line-title__menu h4 {
    color: #8890A7;
    font-size: 14px;
    font-weight: 600; }

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #2F3545;
  opacity: .7;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  display: none; }

.btn-close, .btn-close__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 auto;
  width: 20px;
  min-width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer; }
  .btn-close:hover:before, .btn-close:hover:after, .btn-close__account:hover:before, .btn-close__account:hover:after {
    background: #fff; }
  .btn-close:before, .btn-close:after, .btn-close__account:before, .btn-close__account:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #9B9EA8;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    top: 0; }
  .btn-close:before, .btn-close__account:before {
    left: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .btn-close:after, .btn-close__account:after {
    right: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.btn-close:before, .btn-close:after {
  background: #fff; }

.dropItem {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.dropDown-menu {
  position: absolute;
  display: none;
  left: -20px;
  background: #2F3545;
  padding: 16px 63px 28px 22px;
  z-index: 2;
  top: 52px;
  min-width: 100%; }
  .dropDown-menu a {
    margin: 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9B9EA8;
    font-size: 14px;
    font-weight: 500; }
    .dropDown-menu a:hover {
      color: #fff; }
    .dropDown-menu a:last-child {
      margin: 0; }

.btn-burger {
  display: none;
  width: 24px; }
  .btn-burger span {
    width: 100%;
    height: 2px;
    display: block;
    background: #fff;
    margin: 0 0 5px;
    border-radius: 3px; }
    .btn-burger span:last-child {
      margin: 0; }

.recaptcha {
  margin: 0 auto 24px;
  width: 100%; }

.form-description {
  margin: 40px 0 38px;
  font-size: 14px; }

.form-message__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #E6F4D4;
  width: 108px;
  height: 108px;
  padding: 14px;
  margin: 0 auto; }

.form-message__title {
  text-align: center;
  margin: 30px auto 10px;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600; }

.form-message {
  margin: 78px auto 240px; }
  .form-message .text {
    margin: 0 auto 50px;
    text-align: center;
    color: #98A4C4;
    font-weight: 500; }

.form-error .form-message__img {
  background: rgba(252, 139, 140, 0.2); }

.btn-crimson {
  background: #FC8B8C; }

.fill-none {
  fill: none; }

.header-item__name .icon {
  width: 20px;
  height: 22px; }

.wrapper-main {
  background: #fafafa; }

h1 {
  margin: 60px 0;
  color: #22283C;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase; }

.account {
  width: 100%;
  border-radius: 8px;
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden; }
  .account-body {
    border: 1px solid rgba(152, 164, 196, 0.5);
      border-radius: 0 8px 8px 0;
      border-left: none;
    width: calc(100% - 302px);
    padding: 30px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: rgba(66, 75, 98, 0.6); }
    .account-body strong {
      font-weight: 900; }
    .account-body p {
      font-size: 32px;
      line-height: 39px; }
  .account .btn-close__account {
    position: absolute;
    right: 20px;
    top: 20px; }

.account-box__cost p {
  color: #424B62; }

.account-box__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  color: #424B62; }
  .account-box__check strong {
    font-weight: bold; }

.icon-check {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  border: 2px solid #FC8B8C;
  margin: 0 9px 0 0; }

.account-head {
  background: #988FF2;
  width: 302px;
  color: #fff;
  padding: 32px 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px; }
  .account-head .name-account {
    font-size: 46px;
    font-weight: 900;
    margin: 8px 0 0;
    line-height: 94.4%;
    letter-spacing: -0.08em;
    text-transform: uppercase; }

.payment-method {
  margin: 60px 0 0; }
  .payment-method .btn-buy {
    width: 113px;
    height: 38px;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 auto; }
  .payment-method .info-box {
    margin: 40px auto;
    padding: 40px 0 0;
    border-top: 1px solid rgba(66, 75, 98, 0.2);
    color: #424B62;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 140%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .payment-method .info-box .info-box__icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 23px 0 0; }
      .payment-method .info-box .info-box__icon .icon {
        width: 50px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .payment-method .info-box .info-box__icon .icon:not(:last-child) {
          margin: 0 10px 0 0; }

h2 {
  text-transform: uppercase;
  margin: 0 0 40px;
  color: #424B62;
  font-size: 26px;
  font-weight: 600; }

.pay-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(152, 164, 196, 0.5);
    border-radius: 8px;
  background: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 40px 0;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  color: rgba(66, 75, 98, 0.6);
  cursor: pointer;
  margin: 0 0 40px; }
  .pay-box:hover {
    -webkit-box-shadow: 0px 20px 30px rgba(68, 68, 68, 0.16);
            box-shadow: 0px 20px 30px rgba(68, 68, 68, 0.16); }
  .pay-box__icon {
    height: 82px;
    max-width: 188px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 40px; }

/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1250px) {
  .header-menu li a {
    padding: 28px 15px; } }

@media only screen and (max-width: 1199px) {
  .header-menu li a {
    font-size: 14px; } }

@media only screen and (max-width: 991px) {
  .header-item {
    font-size: 11px;
    margin: 0 20px 0 0; }
  .support-box {
    font-size: 11px; }
    .support-box .header-item__icon {
      width: 16px;
      height: 16px; }
  .header-item__icon {
    width: 16px;
    height: 16px;
    min-width: 16px; }
  .dropItem-language {
    padding: 0 0 0 15px; }
  header .support-box {
    margin: 0 15px 0 0; }
  .header-menu li a {
    font-size: 12px;
    padding: 22px 10px; }
  .list-social {
    margin: 0 0 33px; }
    .list-social li {
      margin: 0 50px 0 0; }
      .list-social li:last-child {
        margin: 0; }
      .list-social li a {
        width: 33px;
        height: 33px; }
  .account {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .account-head {
    width: 100%;
    padding: 20px;
    font-size: 16px; }
    .account-head .name-account {
      font-size: 40px;
      line-height: 94.4%; }
  .account-body {
    width: 100%;
    border: 1px solid rgba(152, 164, 196, 0.5);
      border-top: none;
      border-radius: 0 0 8px 8px;
    padding: 20px; }
  .btn-close__account {
    z-index: 1; }
    .btn-close__account:before, .btn-close__account:after {
      background: #fff; } }

@media only screen and (max-width: 767px) {
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header-item {
    font-size: 14px;
    margin: 0 17px 0 0; }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 38px 0 27px; }
    footer .logo {
      display: none; }
    footer .footer-box {
      width: 50%;
      margin: 0 0 12px; }
  .footer-menu__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 22px; }
  header {
    padding: 12px 0; }
    header .header-menu, header .dropItem {
      display: none; }
    header .btn-burger span {
      background: #fff;
      width: 24px;
      margin: 0 0 5px;
      border-radius: 3px; }
      header .btn-burger span:last-child {
        margin: 0; }
  .logo {
    width: 38px; }
    .logo svg {
      width: 100%; }
      .logo svg path {
        fill: #988FF2; }
  .mobile-menu .header-menu {
    margin: 0 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .mobile-menu .header-menu li {
      margin: 0 0 10px; }
  .mobile-menu .support-box {
    font-size: 14px;
    margin: 0 0 15px; }
  .wrapper .info-box {
    margin: 0 auto 40px; }
  .form {
    margin: 16px auto 40px;
    padding: 20px; }
    .form .btn {
      font-size: 18px; }
    .form input {
      padding: 0 0 11px; }
  .or {
    margin: 12px auto 16px; }
  .form-title {
    margin: 0 0 22px; }
  .mail-user, .language-box, .support-box {
    display: none; }
  .account-box {
    width: 50%;
    margin: 0 0 20px; }
  .account-body {
    padding: 20px 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .account-box__check {
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media only screen and (max-width: 575px) {
  .form-login .form-group__line .links-green {
    display: none; }
  .form-login .d-mobile {
    display: block;
    width: 100%;
    margin: 20px auto 22px;
    text-align: center; }
  .form-description {
    margin: 20px 0 32px;
    font-size: 16px; }
  .recaptcha {
    margin: 0 auto 20px; }
  .form-message__img {
    width: 80px;
    height: 80px; }
  .form-message__title {
    margin: 29px auto 20px; }
  .form-message .text {
    margin: 0 auto 30px; }
  h1 {
    margin: 40px 0 24px;
    font-size: 26px;
    line-height: 32px; }
  h2 {
    margin: 0 0 32px;
    font-size: 24px;
    line-height: 29px; }
  .payment-method {
    margin: 40px 0 0; }
    .payment-method .info-box {
      margin: 32px 0;
      padding: 32px 0 0; }
      .payment-method .info-box .info-box__icon {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 16px 0 0; }
        .payment-method .info-box .info-box__icon .icon:not(:last-child) {
          margin: 0 0 10px 0; }
  .pay-box {
    padding: 16px 5px;
    font-size: 18px;
    margin: 0 0 16px; }
    .pay-box__icon {
      height: 50px;
      max-width: 125px;
      margin: 0 auto 16px; } }

@media only screen and (max-width: 480px) {
  /**/ }
