@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1199px)
  .header-menu li a
    font-size: 14px

  .header-menu li:not(:last-child)
    margin: 0 20px 0 0


@media only screen and (max-width : 991px)
  .header-item
    font-size: 11px
    margin: 0 20px 0 0

  .support-box
    font-size: 11px
    .header-item__icon
      width: 16px
      height: 16px

  .header-item__icon
    width: 16px
    height: 16px
    min-width: 16px

  .dropItem-language
    padding: 0 0 0 15px

  header .support-box
    margin: 0 15px 0 0

  .header-menu li a
    font-size: 12px

  .list-social
    margin: 0 0 33px
    li
      margin: 0 50px 0 0
      &:last-child
        margin: 0
      a
        width: 33px
        height: 33px


@media only screen and (max-width : 767px)
  .btn-burger
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .header-item
    font-size: 14px
    margin: 0 17px 0 0

  footer
    display: flex
    padding: 38px 0 27px
    .logo
      display: none
    .footer-box
      width: 50%
      margin: 0 0 12px

  .footer-menu__wrapper
    flex-wrap: wrap
    margin: 0 0 22px

  header
    padding: 12px 0
    .header-menu, .dropItem
      display: none
    .btn-burger
      span
        background: #fff
        width: 24px
        margin: 0 0 5px
        border-radius: 3px
        &:last-child
          margin: 0

  .logo
    width: 38px
    svg
      width: 100%
      path
        fill: #988FF2

  .mobile-menu
    .header-menu
      margin: 0 0 10px
      flex-direction: column
      align-items: flex-start
      li
        margin: 0 0 10px
    .support-box
      font-size: 14px
      margin: 0 0 15px

  .wrapper .info-box
    margin: 0 auto 40px

  .form
    margin: 16px auto 40px
    padding: 20px
    .btn
      font-size: 18px
    input
      padding: 0 0 11px

  .or
    margin: 12px auto 16px

  .form-title
    margin: 0 0 22px

  .mail-user, .language-box, .support-box
    display: none


@media only screen and (max-width : 575px)
  .form-login
    .form-group__line
      .links-green
        display: none
    .d-mobile
      display: block
      width: 100%
      margin: 20px auto 22px
      text-align: center

  .form-description
    margin: 20px 0 32px
    font-size: 16px

  .recaptcha
    margin: 0 auto 20px

  .form-message__img
    width: 80px
    height: 80px

  .form-message__title
    margin: 29px auto 20px

  .form-message .text
    margin: 0 auto 30px


@media only screen and (max-width : 480px)
	/**/




