@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1550px)
  .section-tools__image
    max-width: 790px
    margin: -100px auto -50px

  .box-tools8
    bottom: 115px
    left: -25px

  .box-tools8 h3:after
    right: -120px
    width: 120px

  .box-tools8 h3:before
    right: -120px

  .box-tools7
    right: 140px
    bottom: 129px

  .box-tools7 h3:after
    width: 60px
    left: -60px

  .box-tools7 h3:before
    left: -60px

  .box-tools6
    right: 68px
    bottom: 220px
    max-width: 200px

  .box-tools6 h3:after
    width: 100px
    left: -100px

  .box-tools6 h3:before
    left: -100px

  .box-tools5
    bottom: 250px
    right: -125px

  .box-tools5 h3:after
    width: 40px
    left: -40px

  .box-tools5 h3:before
    left: -40px

  .box-tools4
    top: 194px
    right: -35px

  .box-tools4 h3:after
    width: 130px
    left: -130px

  .box-tools4 h3:before
    left: -130px

  .box-tools3
    max-width: 202px
    top: 183px
    left: 318px
    h3
      &:after
        width: 100px
        right: -100px
      &:before
        right: -100px

  .box-tools2
    top: 265px
    left: 130px
    h3
      &:after
        width: 350px
        right: -350px
      &:before
        right: -350px

  .box-tools1
    top: 328px
    left: 40px
    h3
      &:after
        width: 150px
        right: -150px
      &:before
        right: -150px

  .works-slider__image
    width: 400px
    min-width: 400px

  .stages-work__box:after
    width: 40px
    right: 40px

  .stages-work__box
    width: 320px
    margin: 0 0 30px

  .stages-work__box:nth-child(2):after
    right: 0

  .main-download .main-image
    max-width: 960px

  h1
    font-size: 36px
    line-height: normal

  .main-text__subtitle
    font-size: 70px

  .main
    padding: 90px 0 30px

  .main-image
    width: 900px

  .main .btn
    margin: 30px 0 80px

  .stages-work
    padding: 50px 0
    h2
      margin: 0

  .about-img
    width: 900px

  .advantages-box
    .number
      font-size: 45px
      line-height: 1
    &:before
      top: 15px

  .about-wrapper
    margin: 30px 0 0

  .advantages-wrapper
    margin: 30px 0 0

  .about-license
    padding: 0 0 150px
    margin: 30px 0 0

  .table-license
    margin: 30px 0 34px
    td
      padding: 13px

  .container
    max-width: 1170px


@media only screen and (max-width: 1420px)
  .table-license td, .table-license th
    min-width: 215px

  .table-license thead th
    padding: 10px 15px

@media only screen and (max-width: 1250px)
  .header-menu li a
    padding: 29px 15px

  .table .td-purchase
    width: auto

  .account-info
    font-size: 15px

  .name-account
    font-size: 32px

  .license
    font-size: 15px

@media only screen and (max-width: 1199px)
  .header-menu li a
    font-size: 14px

  .account-info__standart
    .account-info__item
      width: 100%
      margin: 0 0 16px
      &:last-child
        margin: 0
        display: flex
        align-items: center
        justify-content: space-between
        .btn
          margin: 0
          order: 1

  .table-history thead
    font-size: 18px

  .account-head .name-account, .account-body strong
    font-size: 26px

  header .dropDown-menu
    top: 76px

  .table-license td, .table-license th
    min-width: 186px

  .table-license thead .th-title
    font-size: 26px

  .th-box__price
    font-size: 24px
    .currency
      font-size: 16px
      margin: 0 0 3px

  .th-box:before
    height: 127px

  .table-license
    font-size: 16px
    td
      &:first-child
        font-size: 16px
    tbody
      font-size: 20px

  .th-box__name
    font-size: 18px

  .th-box__price
    font-size: 20px

  .table-license__description
    font-size: 22px
    margin: 40px 0 0

@media only screen and (max-width : 991px)
  .header-item
    font-size: 11px
    margin: 0 20px 0 0

  .support-box
    font-size: 11px
    .header-item__icon
      width: 16px
      height: 16px

  .header-item__icon
    width: 16px
    height: 16px
    min-width: 16px

  .dropItem-language
    padding: 0 0 0 10px

  header .support-box
    margin: 0 12px 0 0

  .header-menu li a
    font-size: 12px
    padding: 22px 8px

  .list-social
    margin: 0 0 33px
    li
      margin: 0 50px 0 0
      &:last-child
        margin: 0
      a
        width: 33px
        height: 33px

  header .dropDown-menu
    top: 58px

  .dropDown-menu
    left: auto
    right: -15px

  .list-social
    margin: 0 0 33px
    li
      margin: 0 50px 0 0
      &:last-child
        margin: 0
      a
        width: 33px
        height: 33px

  h1
    font-size: 40px
    line-height: normal

  .main-text__subtitle
    font-size: 70px
    line-height: normal

  .section-tools__image
    width: 410px
    margin: -71px auto 0
    img
      margin: 0 auto

  .box-tools
    display: none

  .box-tools1
    display: block
    top: 148px
    left: 135px
    font-size: 12px
    line-height: 15px
    width: 160px
    height: 55px
    background: rgba(15, 16, 20, 0.8)
    padding: 8px 8px 8px 12px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      height: 69px
      width: 1px
      background: #1AA3E0
      top: 0
    .circle
      width: 24px
      height: 24px
      border-radius: 50%
      background: rgba(#1AA3E0, .3)
      position: absolute
      display: block
      left: -12px
      bottom: -34px
      &:after
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        width: 8px
        height: 8px
        border-radius: 50%
        background: #fff
        z-index: 2
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        border-radius: 50%
        z-index: 1
        background: #1AA3E0
        width: 16px
        height: 16px
    h3
      padding: 0
      line-height: 20px
      font-size: 16px
      &:before, &:after
        display: none

  h2
    font-size: 24px
    line-height: normal

  .description
    font-size: 16px

  .works
    padding: 40px 0

  .works-download
    padding: 0

  .video-wrapper
    margin: 24px 0 0

  .works-section
    padding: 0 0 80px

  .works-slider__box
    padding: 0

  .stages-work
    padding: 40px 0

  .stages-work__content
    flex-direction: column
    align-items: center

  .stages-work__box
    width: 400px
    margin: 0 auto -30px
    &:after
      transform: rotate(90deg)
      top: auto
      width: 40px
      left: 52%
      bottom: 0
    &:last-child
      margin: 0 auto
    .number
      font-size: 240px
      line-height: 293px
      text-align: center
    &:before
      width: 194px
      height: 195px
      left: 50%
    .text
      font-size: 12px
      margin: 0
      max-width: 194px
    h3
      font-size: 16px
      margin: 0 0 8px
      br
        display: none
    .icon
      width: 47px
      height: 47px
      min-width: 47px
      margin: 0 8px 0 0

  .stages-work__box-content
    left: 56%
    transform: translate(-50%,-50%)

  .advantages-box
    width: auto
    margin: 0 0 5px

  .advantages-wrapper
    flex-direction: column
    align-items: flex-start
    margin: 9px 0 0
    padding: 0 0 0 20px

  .about
    padding: 40px 0

  .about .info-text
    margin: 27px 0 0

  .main-download
    padding: 16px 0 52px
    .main-image
      margin: 19px auto 0
      width: 100%
      max-width: none
    .btn-group
      width: 100%
      align-items: center
    .btn
      width: 100%
      max-width: 330px
      height: 56px
      margin: 0 0 15px
      font-size: 14px

      .icon
        width: 24px
        height: 24px
      &:last-child
        margin: 0
    .info-text
      font-size: 12px
      line-height: 18px
      margin: 25px 0 0

  .works-download .video-wrapper
    margin: 26px 0 38px

  .main-image
    width: 800px

  .main
    padding: 50px 0 30px

  .account
    flex-direction: column
    align-items: center


  .account-head
    width: 100%
    padding: 20px
    font-size: 16px
    .name-account
      font-size: 40px
      line-height: 94.4%

  .account-body
    width: 100%
    border: 1px solid rgba(152, 164, 196, 0.5)
      top: none
      radius: 0 0 8px 8px
    padding: 20px
      
  .btn-close__account
    z-index: 1
    &:before, &:after
      background: #fff

  .table
    font-size: 15px
    td
      padding: 10px 16px
    thead
      font-size: 13px
      th
        padding: 0 16px 22px

  .tab-content
    padding: 24px 0 40px

  .table-wrapper
    margin: 0

  .tooltip-hidden
    font-size: 13px
    width: 240px

  .checkbox-slider
    margin: 0 0 33px

  .service-menu
    margin: 20px 0 40px

  .service
    padding: 50px 0
    h1
      font-size: 30px
    h3
      margin: 40px auto 20px
      font-size: 24px

  .service-content ul li ul, .service-content ul li p
    margin: 20px 0

  .service-content
    padding: 0 20px
    font-size: 16px


  .service-content ul li
    margin: 0 0 20px

  .btn-load
    padding: 0 20px
    margin: 30px 0 0
    font-size: 16px
    &:before
      width: calc(100% - 40px)
    span
      padding: 0 10px

  .table-license thead th
    padding: 4px 15px

@media only screen and (max-width : 940px)
  .table-license td, .table-license th
    min-width: 145px

  .th-box:before, .th-box:nth-child(3):before, .th-box:nth-child(4):before, .th-box:nth-child(5):before
    -webkit-background-size: cover
    background-size: cover

  .th-box:before
    height: 107px


  .table-license td:first-child
    font-size: 14px

  .table-license tbody
    font-size: 18px

  .th-box__name
    font-size: 16px

  .table-license thead .th-title
    font-size: 22px

  .about-license .btn
    width: 120px


@media only screen and (max-width : 860px)
  .about-box
    width: 100%
    flex-direction: row
    align-items: center
    justify-content: flex-start
    margin: 0 0 48px
    font-size: 14px
    text-align: left
    &:last-child
      margin: 0

  .about-box__icon
    margin: 0 18px 0 0
    width: 46px
    min-width: 46px
    height: 46px

  .about-wrapper
    margin: 39px 0 0

  .table-history
    font-size: 14px
    thead
      font-size: 16px

  .history-wrapper
    margin: 40px 0

  .form-history button.btn:last-child
    margin: 8px 0 0

  .additional-bonuses__box h3
    font-size: 24px

  .additional-bonuses__box-icon
    width: 60px
    height: 60px
    min-width: 60px
    margin: 0 30px 0 0

  .additional-bonuses__box
    font-size: 16px
    margin: 0 0 40px


@media only screen and (max-width : 767px)
  .btn-burger
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 7px
    height: 20px

  .header-item
    font-size: 14px
    margin: 0 17px 0 0

  footer
    display: flex
    padding: 38px 0 27px
    .logo
      display: none
    .footer-box
      width: 50%
      margin: 0 0 12px

  .footer-menu__wrapper
    flex-wrap: wrap
    margin: 0 0 22px


  header
    padding: 12px 0
    .header-menu, .dropItem
      display: none
    .btn-burger
      span
        background: #fff
        width: 24px
        margin: 0 0 5px
        border-radius: 3px
        &:last-child
          margin: 0


  .mobile-menu
    .header-menu
      margin: 0 0 10px
      flex-direction: column
      align-items: flex-start
      li
        margin: 0 0 10px
    .support-box
      font-size: 14px
      margin: 0 0 15px

  .main-image
    width: 566px

  h1
    font-size: 30px

  .main-text__subtitle
    font-size: 50px

  .main
    .list-social
      padding: 0
      margin: 0 auto
      li
        margin: 0 48px 0 0
        a
          width: 16px
          height: 16px

  .works-slider__text
    font-size: 12px
    line-height: 18px
    h3
      line-height: 20px
      text-transform: uppercase
      font-size: 16px

  .works-slider__image
    width: 154px
    min-width: 154px

  .fullscreen-video
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8)

  .slick-dotted.slick-slider
    margin-bottom: 24px

  .slick-dots li
    width: 12px
    height: 12px

  .about
    .info-text
      font-size: 12px
      line-height: 15px
      h3
        font-size: 16px
        line-height: 20px


  .about-license
    margin: 40px 0 58px
    background: transparent
    padding: 0

  .about-license .btn-group
    margin: 0

  .table-license
    font-size: 16px
    thead
      font-size: 18px

  .table-license td, .table-license th
    min-width: 100px

  .table-license .icon-check
    width: 18px
    height: 13px

  .table-license td
    padding: 10px 12px

  .about-license .btn-group
    padding: 0
    flex-direction: column
    align-items: center
    .btn
      margin: 0 0 24px
      width: 163px
      height: 36px
      &:last-child
        margin: 0

  .wrapper .info-box
    margin: 0 auto 40px

  .form
    margin: 16px auto 40px
    padding: 20px
    .btn
      font-size: 18px
    input
      padding: 0 0 11px

  .or
    margin: 12px auto 16px

  .form-title
    margin: 0 0 22px

  .mail-user, .language-box, .support-box
    display: none

  .account-box
    width: 50%
    margin: 0 0 20px

  .account-body
    padding: 20px 20px 0
    flex-wrap: wrap

  .account-box__check
    font-size: 15px
    align-items: center
    .label
      font-size: 15px

  .download-info
    padding: 30px 0
    margin: 0 0 40px

    &__text
      flex-direction: column-reverse
      .text
        width: 100%
        padding: 0
        margin: 33px 0 0
        font-size: 15px
        text-align: center
    .btn-group
      margin: 0 auto
    h2
      text-align: center
      margin: 0 auto 34px

  .table
    td
      white-space: nowrap

  .tabs-wrapper
    padding: 29px 0 0

  .account-info
    height: auto
    margin: 0 0 16px
    padding: 16px 20px 20px

  .tab-content .form
    margin: 0 0 20px

  .copy
    width: 14px
    height: 14px
    min-width: 14px

  .account-price
    margin: 0 0 16px
    .account-head
      padding: 15px 20px 16px
      align-items: flex-end
      justify-content: space-between
      display: flex
      font-size: 13px
      .account-box
        display: flex
      .account-box
        margin: 0
        width: auto
        flex-direction: column
        align-items: flex-start
        span
          font-size: 15px
          opacity: .6
        .price-wrapper
          color: #fff
        strong
          color: #fff
          font-size: 26px
          line-height: normal

    .name-account
      font-size: 26px
      margin: 3px 0 0
      letter-spacing: -0.08em
    .account-body
      flex-direction: row
      align-items: flex-end
      justify-content: space-between
      padding: 16px 20px
      font-size: 15px
      .account-box__cost
        display: none
      .account-box
        margin: 0
    .account-footer
      width: 100%

  .new-price
    font-size: 26px

  .old-price
    font-size: 18px
    margin: 0 4px 0 0

  .sale-item
    top: 6px
    right: 16px

  .sale
    width: 46px
    height: 15px

  .icon-star
    width: 16px
    height: 16px
    margin: 0 0 0 7px

  .tab-price
    .info-box
      margin: 24px 0 0

  .service-menu
    justify-content: space-around
    margin: 20px 0 0
    li
      margin: 0 0 10px
      &:last-child
        margin: 0 0 10px

  .about-license
    .btn
      width: 100%
      margin: 20px auto 0
      height: 48px
      font-size: 14px
    h2
      margin: 0 0 27px

  .additional-bonuses__box h3
    br
      display: none

  .additional-bonuses .btn
    height: 48px
    font-size: 18px
    margin: 0 auto

  .main-pricing
    padding: 50px 0 70px

  .additional-bonuses h2
    margin: 0 0 40px


@media only screen and (max-width : 700px)
  .table-history
    th, td
      &:nth-child(3), &:nth-child(4), &:nth-child(5)
        display: none

@media only screen and (max-width : 575px)
  .main
    padding: 14px 0 0
    .btn
      margin: 32px 0 35px
      width: 153px
      height: 36px
      font-size: 14px

  .stages-work .btn
    font-size: 14px

  .btn
    font-size: 14px

  .form-login
    .form-group__line
      .links-green
        display: none
    .d-mobile
      display: block
      width: 100%
      margin: 20px auto 22px
      text-align: center

  .form-description
    margin: 20px 0 32px
    font-size: 16px

  .recaptcha
    margin: 0 auto 20px

  .form-message__img
    width: 80px
    height: 80px

  .form-message__title
    margin: 29px auto 20px

  .form-message .text
    margin: 0 auto 30px

  .main-text__subtitle
    line-height: 99.4%
    font-size: 65px

  h1, h2
    font-size: 23px
    line-height: 28px


  .description
    margin: 8px 0 0

  .body h1
    margin: 40px 0 24px
    font-size: 26px
    line-height: 32px

  .body h2
    margin: 0 0 32px
    font-size: 24px
    line-height: 29px

  .main-text
    justify-content: flex-start
    padding: 27px 0 0
    position: relative
    z-index: 1


  .section-tools
    padding: 35px 0 0

  .playpause
    width: 33px
    height: 33px

  .works-slider__box
    flex-wrap: wrap
    position: relative

    .text
      margin: 10px 0 0
      font-weight: bold
    h3
      margin: 0
      padding: 0 0 0 154px
      height: 154px
      display: flex
      align-items: center

  .works-slider__image
    margin: 0
    position: absolute
    left: 0
    top: 0

  .table-license
    font-size: 12px
    margin: 10px 0 23px

  .table-license thead th
    padding: 8px 12px

  .table-license td, .table-license th
    min-width: 70px

  .works-download .video-wrapper
    margin: 28px 0 40px

  .accordion-title
    padding: 20px 12px 18px
    h2
      font-size: 18px

  .card-header .btn-link
    padding: 12px 40px 10px 20px
    font-size: 15px

  .card-body
    padding: 24px 12px
    font-size: 12px

  .works-download .btn
    display: none

  .about-img
    margin: 46px auto 0
    max-width: 330px
    width: 100%
    height: 193px
    background: url("../img/img-mob.png") no-repeat center
      size: contain
    img
      display: none

  .payment-method
    margin: 40px 0 0
    .info-box
      margin: 32px 0
      padding: 32px 0 0
      .info-box__icon
        flex-direction: column
        align-items: center
        margin: 0 16px 0 0
        .icon
          &:not(:last-child)
            margin: 0 0 10px 0

  .pay-box
    padding: 16px 5px
    font-size: 18px
    margin: 0 0 16px
    &__icon
      height: 50px
      max-width: 125px
      margin: 0 auto 16px

  .download-info
    &:before
      height: 90%


  .open-signal
    h1
      margin: 0 0 24px
    .btn-signal
      margin: 0
    .description
      margin: 24px 0 40px
    .info-box
      margin: 40px 0

  .accordion-title
    padding: 20px

  .card-header .btn-link
    padding: 21px 40px 21px 20px
    font-size: 15px

  .card-body
    padding: 20px
    font-size: 15px

  .table
    margin: 0 0 20px

  .subscribe-wrapper
    padding: 20px
    .img-bg
      display: none
    .line
      flex-direction: column
      align-items: flex-start
      .checkbox
        margin: 0 0 32px
        &:last-child
          margin: 0

  .checkbox__text
    font-size: 24px

  .checkbox-slider .checkbox-anim
    margin: 0 14px

  .main-trends h1
    font-size: 35px
    line-height: normal
    margin: 0 0 20px

  .tools__content
    padding: 0
    font-size: 14px
    font-weight: 500
    border: none
    p
      margin: 0 0 30px
      &:last-child
        margin: 0

  .main-trends
    padding: 25px 0 47px

  .tools-section
    padding: 0 0 12px

  .table-history
    th, td
      &:nth-child(6), &:nth-child(7), &:nth-child(8)
        display: none

  .table-history tbody tr td:first-child, .table-history thead tr th:first-child
    padding-left: 14px

  .table-history tbody tr td:last-child, .table-history thead tr th:last-child
    padding-right: 14px

  .history-wrapper
    margin: 7px 0 55px

  .tools-section__history .tools__content
    padding: 0

  .tools-section h2
    font-size: 20px

  .tools-image
    height: 580px

  .service-content
    font-size: 14px

  .service-content ul h3
    font-size: 22px

  .additional-bonuses__box h3
    font-size: 20px

@media only screen and (max-width : 480px)
  .account-footer
    padding: 10px 0 0
    .btn
      width: 100%

  .account-price
    .account-head
      padding: 12px 20px
      .account-box span
        font-size: 13px
    .account-body
      padding: 10px 20px
    .name-account
      margin: 0


  .sale-item
    top: 2px

  .main-image
    margin: 0 0 0 -30px
    width: 466px

@media only screen and (max-width : 420px)
  .download-info
    &:before
      height: calc(100% - 54px)
      background: url("../img/bg2.svg") right bottom no-repeat
        size: 100%

  .logo
    width: 40px
    height: 40px
    img
      display: none
    background: url("../img/logo-mob.png") no-repeat center
      size: contain

  footer
    .footer-box
      width: 48%

  .section-tools__image
    margin: -101px 0 0 -40px

  .stages-work__box
    width: 280px

  .stages-work__box-content
    width: 230px
    left: 63%

  .stages-work
    -webkit-background-size: 1024px
    background-size: 1024px
    background-position: left top
    h2
      margin: 0

  .stages-work .btn
    width: 135px
    height: 36px
    font-size: 14px

  .stages-work .info-text
    font-size: 12px
    margin: 16px auto 0
    max-width: 170px

  .works-download .info-box
    display: none

  .accordion
    margin: 0 0 40px


@media only screen and (max-width : 380px)
  .checkbox__text
    font-size: 18px

  .btn-burger
    width: 4px
    height: 16px

@media only screen and (max-width : 340px)
  .nav-tabs .nav-item
    margin: 0 20px 0 0

  .name-account
    font-size: 28px

  .form input
    font-size: 14px


  .account-price .name-account, .new-price, .account-price .account-head .account-box strong, .account-body strong
    font-size: 20px
    line-height: normal
