@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1250px)
  .header-menu li a
    padding: 28px 15px

@media only screen and (max-width: 1199px)
  .header-menu li a
    font-size: 14px


@media only screen and (max-width : 991px)
  .header-item
    font-size: 11px
    margin: 0 20px 0 0

  .support-box
    font-size: 11px
    .header-item__icon
      width: 16px
      height: 16px

  .header-item__icon
    width: 16px
    height: 16px
    min-width: 16px

  .dropItem-language
    padding: 0 0 0 15px

  header .support-box
    margin: 0 15px 0 0

  .header-menu li a
    font-size: 12px
    padding: 22px 10px

  .list-social
    margin: 0 0 33px
    li
      margin: 0 50px 0 0
      &:last-child
        margin: 0
      a
        width: 33px
        height: 33px

  .account
    flex-direction: column
    align-items: center


  .account-head
    width: 100%
    padding: 20px
    font-size: 16px
    .name-account
      font-size: 40px
      line-height: 94.4%

  .account-body
    width: 100%
    border: 1px solid rgba(152, 164, 196, 0.5)
      top: none
      radius: 0 0 8px 8px
    padding: 20px
      
  .btn-close__account
    z-index: 1
    &:before, &:after
      background: #fff



@media only screen and (max-width : 767px)
  .btn-burger
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .header-item
    font-size: 14px
    margin: 0 17px 0 0

  footer
    display: flex
    padding: 38px 0 27px
    .logo
      display: none
    .footer-box
      width: 50%
      margin: 0 0 12px

  .footer-menu__wrapper
    flex-wrap: wrap
    margin: 0 0 22px

  header
    padding: 12px 0
    .header-menu, .dropItem
      display: none
    .btn-burger
      span
        background: #fff
        width: 24px
        margin: 0 0 5px
        border-radius: 3px
        &:last-child
          margin: 0

  .logo
    width: 38px
    svg
      width: 100%
      path
        fill: #988FF2

  .mobile-menu
    .header-menu
      margin: 0 0 10px
      flex-direction: column
      align-items: flex-start
      li
        margin: 0 0 10px
    .support-box
      font-size: 14px
      margin: 0 0 15px

  .wrapper .info-box
    margin: 0 auto 40px

  .form
    margin: 16px auto 40px
    padding: 20px
    .btn
      font-size: 18px
    input
      padding: 0 0 11px

  .or
    margin: 12px auto 16px

  .form-title
    margin: 0 0 22px

  .mail-user, .language-box, .support-box
    display: none

  .account-box
    width: 50%
    margin: 0 0 20px

  .account-body
    padding: 20px 20px 0
    flex-wrap: wrap

  .account-box__check
    font-size: 15px
    align-items: center


@media only screen and (max-width : 575px)
  .form-login
    .form-group__line
      .links-green
        display: none
    .d-mobile
      display: block
      width: 100%
      margin: 20px auto 22px
      text-align: center

  .form-description
    margin: 20px 0 32px
    font-size: 16px

  .recaptcha
    margin: 0 auto 20px

  .form-message__img
    width: 80px
    height: 80px

  .form-message__title
    margin: 29px auto 20px

  .form-message .text
    margin: 0 auto 30px

  h1
    margin: 40px 0 24px
    font-size: 26px
    line-height: 32px

  h2
    margin: 0 0 32px
    font-size: 24px
    line-height: 29px

  .payment-method
    margin: 40px 0 0
    .info-box
      margin: 32px 0
      padding: 32px 0 0
      .info-box__icon
        flex-direction: column
        align-items: center
        margin: 0 16px 0 0
        .icon
          &:not(:last-child)
            margin: 0 0 10px 0

  .pay-box
    padding: 16px 5px
    font-size: 18px
    margin: 0 0 16px
    &__icon
      height: 50px
      max-width: 125px
      margin: 0 auto 16px



@media only screen and (max-width : 480px)
	/**/




