@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  background: #fafafa

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  outline: none
  transition: .3s ease

  &:hover
    text-decoration: none

.color-accent
  color: #1AA3E0

button, .btn
  outline: none
  padding: 0
  margin: 0
  box-sizing: border-box
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  height: 38px
  border: none
    radius: 8px

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 14px
  font-weight: bold
  color: #fff

  &:hover
    box-shadow: 0 10px 20px rgba(26, 163, 224, 0.3)
    color: #fff

.btn-blue
  width: 91px
  height: 32px

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child), .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle)
  border-radius: 8px
  margin-left: 0

.or
  margin: 22px auto 24px
  font-weight: 500
  width: 100%
  text-align: center

.btn-green
  background: #81C728

.btn-blue
  background: #1AA3E0

.btn-red
  background: #DB635A

.btn-white
  border: 1px solid rgba(152, 164, 196, 0.5)
  background: #fff
  color: #424B62
  font-size: 16px
  &:hover
    color: #424B62


.btn-disable
  background: #1AA3E0
  opacity: .5

.links
  color: #1AA3E0
  opacity: .5
  font-size: 14px
  font-weight: bold

.btn-accent
  border-radius: 8px
  background: #1AA3E0
  box-shadow: 0 10px 20px rgba(26, 163, 224, 0.3)
  font-size: 14px
  font-weight: bold

  &:hover
    box-shadow: none

.btn-group
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: flex-start

.body
  color: #424B62
  .container
    max-width: 1310px

input, textarea, .form-control
  outline: none
  box-shadow: none
  box-sizing: border-box
  width: 100%
  font-family: $default-font
  font-size: 12px
  font-weight: 500
  color: #424B62
  padding: 0 10px
  border: 1px solid rgba(#424B62, .15)
    radius: 4px

  &::placeholder
    color: #424B62

  &:hover, &:focus
    outline: none
    box-shadow: none

select
  outline: none
  box-sizing: border-box
  box-shadow: none
  font-family: $default-font
  color: #FFFFFF
  font-size: 12px
  font-weight: 500
  padding: 0 10px
  border: none
    radius: 4px
  cursor: pointer
  &::placeholder
    color: #FFFFFF
  &:hover, &:focus
    box-shadow: none

svg
  display: inline-block
  width: 100%
  height: 100%

.links-active
  color: #988FF2

.logo
  span
    display: inline-block

.body
  min-height: 100%
  display: flex
  flex-direction: column

.wrapper
  flex: 1 0 auto
  background: url("../img/line.svg") no-repeat center
    size: 100%

footer
  flex: 0 0 auto


.nav
  padding: 0
  display: flex
  align-items: center
  flex-wrap: wrap

.nav-item
  margin: 0 26px 0 0

  &:last-child
    margin: 0

.nav-link
  color: #9B9EA8
  font-size: 13px
  padding: 0
  font-weight: 600

  &:hover
    color: #fff

.nav-link.active
  color: #fff

//wrapper
.wrapper
  height: 100%
  display: flex

  .row
    height: 100%

.main-wrapper
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  height: 100%
  min-height: 100%

.content
  width: calc(100% - 96px)
  position: relative

//header
header
  background: #424B62
  color: #fff

  .support-box
    font-weight: 500
    margin: 0 40px 0 0
  .dropDown-menu
    top: 80px
    a
      padding: 0
      width: 100%
  .logo
    width: 42px
    height: 100%
    svg
      path
        fill: #988FF2
  .links-active
    color: #988FF2

.dropItem-language
  padding: 0 0 0 40px
  &:before
    left: 0
    top: 50%
    transform: translate(0,-50%)
    content: ''
    position: absolute
    width: 1px
    height: 47px
    background: #98A4C4

.support-box
  display: flex
  align-items: center
  color: #9B9EA8
  font-weight: 500
  .header-item__icon
    margin: 0 11px 0 0
    width: 22px
    height: 22px
  &:hover
    color: #fff

.header-item
  margin: 0 32px 0 0
  display: flex
  align-items: center
  font-size: 14px
  color: #9B9EA8
  font-weight: 500

  &__icon
    margin: 0 10px 0 0
    fill: none
    width: 24px
    height: 24px
    display: flex
    align-items: center
    justify-content: center

  &:last-child
    margin: 0

  &:hover
    color: #fff

.header-menu
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 auto 0 0
  li
    height: 100%
    display: flex
    align-items: center
    a
      color: #fff
      text-transform: uppercase
      font-size: 18px
      font-weight: 600
      padding: 29px 30px
      &:hover
        color: #988FF2
        background: #353C4F

    .dropDown-menu
      a
        padding: 0
        width: 100%
        text-transform: none
        font-weight: normal
        font-size: 14px
        color: #9B9EA8
    .active
      color: #988FF2
      background: #353C4F




//footer
footer
  padding: 45px 0 25px
  background: #424B62
  .logo
    text-align: center
    margin: 0 auto 32px


.list-social
  margin: 0
  justify-content: center
  display: flex
  align-items: center
  li
    margin: 0 24px 0 0
    &:last-child
      margin: 0
    a
      width: 18px
      height: 18px



.copyright
  text-align: center
  color: #98A4C4
  font-size: 12px
  line-height: 15px

.footer-menu__wrapper
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-around

.footer-box
  line-height: 200%
  margin: 0 0 34px
  h3
    color: #fff
    font-size: 14px
    font-weight: 900

.footer-menu
  li
    a
      color: #98A4C4
      font-size: 14px
      font-weight: 500
      &:hover
        color: #fff

.info-box
  text-align: center
  margin: 0 auto 80px
  font-weight: 500
  color: #424b62
  line-height: 20px
  a
    display: inline
    &:hover
      color: #424b62
  span
    display: inline-block
    width: 100%
    font-size: 12px
    color: #98A4C4
    margin: 24px 0 0
  strong
    font-weight: bold


.form
  max-width: 626px
  width: 100%
  border-radius: 8px
  box-shadow: 0 20px 30px rgba(68, 68, 68, 0.16)
  background: #fff
  border: 1px solid rgba(152, 164, 196, 0.5)
  margin: 78px auto 46px
  padding: 24px
  .form-group__title
    margin: 0
  label
    width: 100%
    position: relative

  input
    padding: 0 0 12px
    font-size: 18px
    font-family: $default-font
    color: rgba(#98A4C4, .8)
    border: none
      radius: 0
      bottom: 1px solid #22283C
    &::placeholder
      color: rgba(#98A4C4, .8)
    &:valid, &:invalid, &:required:valid, &:required:invalid
      color: #22283C
  .btn
    width: 100%
    height: 61px
    border-radius: 8px
    font-size: 21px
    font-weight: bold
    .icon
      width: 24px
      height: 24px
      margin: 0 10px 0 0
  .form-group
    .links-green
      position: absolute
      right: 0
      bottom: 11px
      background: #fff

.form-login
  input
    color: #22283C
    font-weight: bold
    &::placeholder
      color: #22283C

.btn-view
  position: absolute
  right: 0
  bottom: 9px
  width: 20px
  height: 14px
  display: inline-flex
  z-index: 1
  cursor: pointer

.links-green
  color: #81C728
  font-weight: 500
  font-size: 16px
  &:hover
    color: rgba(#98A4C4, .8)

.btn-soc
  margin: 0 0 17px
  &:last-child
    margin: 0

.form-title
  display: flex
  align-items: center
  margin: 0 0 16px
  color: rgba(#424B62, .5)
  font-size: 21px
  font-weight: 600
  &__icon
    width: 40px
    min-width: 40px
    height: 40px
    margin: 0 16px 0 0
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center

.form-group
  margin: 0 0 23px

.form-group__line
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 0 8px

.form-group__title
  color: #424B62
  font-size: 14px

.d-mobile
  display: none
//footer

.mobile-menu, .sorting-mobile
  position: fixed
  display: none
  left: 0
  top: 0
  z-index: 11
  width: 100%
  background: #2F3545
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  padding: 19px 24px 0

  .header-item
    display: flex
    margin: 0 0 21px
    font-size: 12px

    &:last-child
      margin: 0
  .dropDown-menu
    position: relative
    left: 0
    top: 0
    width: 100%
    padding: 18px 0 27px
    &:before
      content: ''
      position: absolute
      left: 50%
      transform: translate(-50%,0)
      top: 0
      width: calc(100% + 50px)
      height: 100%
      background: #232834
  .support-box
    display: flex
  .header-menu
    li
      width: 100%
      a
        padding: 0

.line-title__menu
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 0 24px

  h4
    color: #8890A7
    font-size: 14px
    font-weight: 600

.overlay
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 9
  background: #2F3545
  opacity: .7
  transform: matrix(1, 0, 0, -1, 0, 0)
  display: none

.btn-close, .btn-close__account
  display: flex
  align-items: center
  justify-content: center
  margin: 0 0 0 auto
  width: 20px
  min-width: 20px
  height: 20px
  position: relative
  cursor: pointer

  &:hover
    &:before, &:after
      background: #fff

  &:before, &:after
    content: ''
    position: absolute
    width: 1px
    height: 100%
    background: #9B9EA8
    transition: .3s ease
    top: 0

  &:before
    left: 9px
    transform: rotate(135deg)

  &:after
    right: 10px
    transform: rotate(45deg)

.btn-close
  &:before, &:after
    background: #fff


.dropItem
  position: relative
  display: flex
  align-items: center
  cursor: pointer
  flex-wrap: wrap

.dropDown-menu
  position: absolute
  display: none
  left: -20px
  background: #2F3545
  padding: 16px 63px 28px 22px
  z-index: 2
  top: 52px
  min-width: 100%
  a
    margin: 0 0 15px
    display: flex
    position: relative
    z-index: 1
    align-items: center
    color: #9B9EA8
    font-size: 14px
    font-weight: 500
    &:hover
      color: #fff
    &:last-child
      margin: 0

.btn-burger
  display: none
  width: 24px

  span
    width: 100%
    height: 2px
    display: block
    background: #fff
    margin: 0 0 5px
    border-radius: 3px
    &:last-child
      margin: 0

.recaptcha
  margin: 0 auto 24px
  width: 100%

.form-description
  margin: 40px 0 38px
  font-size: 14px

.form-message__img
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  background: #E6F4D4
  width: 108px
  height: 108px
  padding: 14px
  margin: 0 auto

.form-message__title
  text-align: center
  margin: 30px auto 10px
  text-transform: uppercase
  font-size: 26px
  font-weight: 600

.form-message
  margin: 78px auto 240px
  .text
    margin: 0 auto 50px
    text-align: center
    color: #98A4C4
    font-weight: 500

.form-error
  .form-message__img
    background: rgba(252, 139, 140, 0.2)

.btn-crimson
  background: #FC8B8C

.fill-none
  fill: none

.header-item__name
  .icon
    width: 20px
    height: 22px

//wrapper-main
.wrapper-main
  background: #fafafa

h1
  margin: 60px 0
  color: #22283C
  font-size: 32px
  font-weight: 900
  text-transform: uppercase

.account
  width: 100%
  border-radius: 8px
  position: relative
  background: #fff
  display: flex
  align-items: stretch
  overflow: hidden
  &-body
    border: 1px solid rgba(152, 164, 196, 0.5)
      radius: 0 8px 8px 0
      left: none
    width: calc(100% - 302px)
    padding: 30px 70px
    display: flex
    align-items: flex-end
    justify-content: space-between
    color: rgba(#424B62, .6)
    strong
      font-weight: 900
      display: block
      font-size: 32px
      line-height: 39px
    p
      font-size: 32px
      line-height: 39px
      strong
        display: inline
  .btn-close__account
    position: absolute
    right: 20px
    top: 20px



.account-box__cost
  p, strong
    color: #424B62

.account-box__check
  display: flex
  align-items: flex-end
  font-size: 18px
  color: #424B62
  strong
    font-weight: bold


.icon-check
  width: 24px
  min-width: 24px
  height: 24px
  display: flex
  align-items: center
  justify-content: center
  padding: 3px
  border: 2px solid #FC8B8C
  margin: 0 9px 0 0

.account-head
  background: #988FF2
  width: 302px
  color: #fff
  padding: 32px 24px
  font-size: 18px
  font-weight: 500
  line-height: 22px
  .name-account
    font-size: 46px
    font-weight: 900
    margin: 8px 0 0
    line-height: 94.4%
    letter-spacing: -0.08em
    text-transform: uppercase

.payment-method
  margin: 60px 0 0
  .btn-buy
    width: 113px
    height: 38px
    font-size: 16px
    border-radius: 8px
    margin: 0 auto
  .info-box
    margin: 40px auto
    padding: 40px 0 0
    border-top: 1px solid rgba(#424B62, .2)
    color: #424B62
    font-size: 14px
    display: flex
    line-height: 140%
    align-items: center
    .info-box__icon
      display: flex
      align-items: center
      margin: 0 23px 0 0
      .icon
        width: 50px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        &:not(:last-child)
          margin: 0 10px 0 0


h2
  text-transform: uppercase
  margin: 0 0 40px
  color: #424B62
  font-size: 26px
  font-weight: 600

.pay-box
  display: flex
  align-items: center
  flex-direction: column
  border: 1px solid rgba(152, 164, 196, 0.5)
    radius: 8px
  background: #fff
  transition: .3s ease
  padding: 40px 0
  font-size: 21px
  font-weight: 600
  text-align: center
  color: rgba(#424B62, .6)
  cursor: pointer
  margin: 0 0 40px
  &:hover
    box-shadow: 0 20px 30px rgba(68, 68, 68, 0.16)
  &__icon
    height: 82px
    max-width: 188px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 40px


//download page
.download-info
  background: #988FF2
  padding: 40px 0 58px
  color: #fff
  margin: 0 0 60px
  position: relative
  &:before
    content: ''
    position: absolute
    bottom: 0
    right: 0
    width: 100%
    height: 188px
    background: url("../img/bg.svg") no-repeat center bottom
      size: cover
  h2
    color: #fff
    margin: 0 0 11px

.download-info__text
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap
  .btn-group
    flex-direction: column
    align-items: center
    width: 278px
  .btn
    width: 100%
    height: 64px
    padding: 0 16px
    justify-content: flex-start
    &:not(:last-child)
      margin: 0 0 24px
    .icon
      width: 32px
      height: 32px
      margin: 0 10px 0 0
      display: flex
      align-items: center
      justify-content: center
  .text
    width: calc(100% - 278px)
    padding: 0 48px 0 0
    line-height: 160%

.open-signal
  .btn-signal
    max-width: 261px
    margin: 0 0 0 auto
  .description
    margin: 60px 0
    a
      text-decoration-line: underline
      display: inline
    strong
      font-size: 18px
      font-weight: bold
      line-height: 160%
  .info-box
    text-align: center
    margin: 60px auto 40px
    line-height: 160%
    strong
      font-weight: bold

.accordion
  overflow: hidden
  width: 100%
  background: #fff
  border: 1px solid rgba(152, 164, 196, 0.5)
    radius: 8px

.accordion-title
  width: 100%
  padding: 24px
  h2
    margin: 0
    color: #98A4C4

.card
  border: none
    top: 1px solid rgba(#424B62, .2)
  background: transparent

.card-header
  background: transparent
  padding: 0
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  .btn-link
    color: #000000
    font-weight: 600
    font-size: 18px
    width: 100%
    padding: 19px 24px
    cursor: pointer
    &:hover
      text-decoration: none
  .icon-arrow
    transition: .3s ease
    position: absolute
    right: 30px
    top: 50%
    width: 12px
    height: 8px
    display: flex
    align-items: center
    justify-content: center
    transform: matrix(1, 0, 0, -1, 0, 0) translate(0)
    path
      fill: #424B62
  .collapsed + .icon-arrow
    transform: rotate(0) translate(0,-50%)
    path
      fill: #98A4C4


.card-body
  background: #FCFCFC
  padding: 24px 23px 50px
  line-height: 160%
  font-weight: 500

//tabs
.tabs-wrapper
  box-shadow: 0 1.27294px 1.88173px rgba(0, 0, 0, 0.137761)
  background: #fff
  padding: 40px 0 0

.nav-tabs
  border: none
  .nav-item
    margin: 0 30px 0 0
    &:last-child
      margin: 0
  .nav-link
    border: none
      bottom: 1px solid transparent
      radius: 0
    padding: 0 0 7px
    color: #98A4C4
    font-weight: 600
    display: flex
    align-items: center
    .icon
      width: 24px
      height: 24px
      display: flex
      align-items: center
      justify-content: center
      margin: 0 8px 0 0
      svg
        width: 100%
        height: 100%
        fill: none
        transition: .3s ease
      path
        stroke: #988FF2
  .nav-link.active
    color: #424B62
    border-color: #424B62
    .icon
      svg
        path
          stroke: #424B62
    .icon-time
      svg
        .p-fill
          fill: #424B62

.tab-content
  padding: 24px 0 40px
  .form
    max-width: none
    box-shadow: none
    transition: .3s ease
    margin: 24px 0
    &:hover
      box-shadow: 0 20px 30px rgba(68, 68, 68, 0.16)
    .btn-save
      font-size: 16px
      margin: 0 0 0 auto
      width: 120px
      height: 38px
  .info-box
    font-weight: normal
    margin: 0

.status
  margin: 0 auto 0 15px
  background: #81C728
  border-radius: 4px
  display: flex
  align-items: center
  color: #fff
  height: 20px
  padding: 0 5px
  font-size: 14px
  font-weight: 500
  .icon
    width: 11px
    height: 9px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 4px 0 0

.status-not
  background: #FC8B8C


.table-wrapper
  width: 100%
  overflow-x: auto
  margin: 16px 0 0

.table
  margin: 0
  border: none
  color: #424B62
  font-size: 21px
  line-height: 145%
  font-weight: bold
  width: 100%
  thead
    color: #98A4C4
    font-weight: 500
    font-size: 18px
    border-bottom: 1px solid rgba(#424B62, .2)
  td, th
    border: none
    padding: 15px 22px
    .icon
      width: 20px
      height: 20px
  .td-status
    width: 200px
  .td-purchase
    width: 580px
  tbody
   tr
     &:nth-child(odd)
       background: rgba(#98A4C4, .08)

.tooltip-wrapper
  position: relative


.tooltip-hidden
  display: none
  position: absolute
  top: calc(100% + 17px)
  left: 50%
  transform: translate(-50%,0)
  z-index: 1
  background: #fff
  box-shadow: 0 20px 30px rgba(68, 68, 68, 0.16)
  border-radius: 8px
  border: 1px solid rgba(152, 164, 196, 0.5)
  width: 284px
  padding: 24px 17px 24px 24px
  font-size: 16px
  font-weight: normal
  line-height: 160%
  color: #424B62
  strong
    font-weight: bold
  &:before
    width: 30px
    height: 30px
    content: ''
    position: absolute
    left: 50%
    transform: translate(-50%,0) rotate(45deg)
    background: #fff
    border: 1px solid rgba(152, 164, 196, 0.5)
      right: none
      bottom: none
      radius: 4px
    border-bottom-left-radius: 0
    border-top-right-radius: 0
    top: -16px

.error, .successful
  display: flex
  align-items: center
  justify-content: space-between

.btn-tooltip
  display: flex
  align-items: center
  justify-content: center
  width: 20px
  height: 20px
  cursor: pointer

.on-check
  color: #988ff2

.successful
  color: #81c728

.error
  color: #fc8b8c

.checkbox
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  .checkbox-inp
    display: none
  .checkbox-custom
    position: relative
    min-width: 20px
    width: 20px
    height: 20px
    display: inline-block
    vertical-align: middle
    border: 1px solid rgba(#98A4C4, .5)
      radius: 0
    background: transparent
    cursor: pointer
    transition: .3s ease
    margin: 0 7px 0 0
  .label
    display: inline-block
    vertical-align: middle
    color: #424B62
    cursor: pointer
    font-size: 18px
    font-weight: bold

  .checkbox-inp:checked + .checkbox-custom
    &::before
      content: ""
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      width: 20px
      height: 20px
      background: url("../img/check.svg") no-repeat center
        size: contain
        
.subscribe-wrapper
  width: 100%
  background: #fff
  border: 1px solid rgba(152, 164, 196, 0.5)
    radius: 8px
  padding: 24px 24px 29px
  position: relative
  .form-title
    margin: 0 0 33px
  .line
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
  .checkbox
    margin: 0 64px 0 0
    &:last-child
      margin: 0


.img-bg
  position: absolute
  bottom: 0
  right: 26px
  width: 108px
  height: 125px

.account-info
  padding: 23px 24px
  color: #fff
  border-radius: 8px
  border: 1px solid rgba(152, 164, 196, 0.5)
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap
  height: 100%
  font-weight: 500
  .subname
    width: 100%
    font-weight: 600

  .btn-white
    height: 38px
    width: 89px
    border: none
    margin: 0 0 5px auto

  .date
    font-weight: 500
    strong
      font-weight: bold

.name-account
  letter-spacing: -0.04em
  font-size: 46px
  font-weight: 900
  text-transform: uppercase
  margin: 5px 0 4px
  line-height: 100%

.license
  display: flex
  align-items: center
  p
    font-weight: 500
  strong
    font-weight: bold

.copy
  margin: 0 0 0 8px
  width: 16px
  min-width: 16px
  height: 16px
  display: flex
  align-items: center
  justify-content: center

.account-info__pro
  background: #77BF1B url("../img/bg-pro.svg") no-repeat center
    size: cover
  .btn-white
    color: #81C728

.account-alert
  background: #988FF2 url("../img/bg-alert.svg") no-repeat center
    size: cover
  padding-bottom: 40px
  .btn-white
    width: 101px
    color: #988FF2

.account-info__free
  background: #98A4C3 url("../img/bg-free.svg") no-repeat center
    size: cover
  .btn-white
    color: #98A4C3
    margin: 0 0 22px auto

.account-standart
  .account-head
    background: #81C728

.account-unlimited
  .account-head
    background: #FC8B8C

.account-basic
  .account-head
    background: #98A4C3

.account-price
  flex-direction: column
  align-items: center
  background: #fff
  margin: 0 0 60px
  cursor: pointer
  transition: .3s ease
  &:hover
    box-shadow: 0px 20px 30px rgba(68, 68, 68, 0.16)
  .account-head
    width: 100%
    padding: 42px 24px 32px
    position: relative
    .btn, .account-box
      display: none
  .account-body
    width: 100%
    padding: 32px 24px 24px
    border: 1px solid rgba(152, 164, 196, 0.5)
      top: none
      radius: 0 0 8px 8px
    flex-direction: column
    align-items: flex-start
  .account-box
    margin: 0 0 12px
  .account-box__cost
    margin: 0 0 32px
  .btn
    width: 113px
    height: 38px
    margin: 0 auto
  strong
    font-weight: bold

.price-wrapper
  display: flex
  align-items: center
  color: #424B62

.old-price
  text-decoration-line: line-through
  font-size: 18px
  font-weight: normal
  margin: 0 12px 0 0

.new-price
  font-size: 32px
  font-weight: bold


.sale-item
  position: absolute
  right: 12px
  top: 12px
  display: flex
  align-items: center

.icon-star
  width: 22px
  height: 22px
  margin: 0 0 0 10px

.sale
  width: 65px
  height: 22px

.account-footer
  width: 100%
  padding: 24px 0 0

  border-top: 1px solid rgba(#424B62, .2)

//checkbox toggler
.checkbox-slider
  position: relative
  display: flex
  align-items: center
  justify-content: flex-start
  margin: 0 0 40px
  width: 100%
  color: #98A4C4
  .check-input
    display: none
  .checkbox-anim
    cursor: pointer
    margin: 0 20px
    position: relative
    width: 30px
    height: 16px
    border: 3px solid #fc8bc8
      radius: 30px
    background: transparent
    transition: .5s
    display: flex
    &:after
      content: ''
      position: absolute
      top: 50%
      transform: translate(0,-50%)
      left: 2px
      width: 8px
      height: 8px
      border-radius: 50%
      background: #fc8bc8

  .check-input:checked + .checkbox-anim
    &:after
      left: auto
      right: 2px

.checkbox__text
  position: relative
  cursor: pointer
  font-size: 26px
  font-weight: 600
  text-transform: uppercase

.checkbox__text.active
  color: #424B62

.toggler-button
  margin: 0
  width: auto
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap



@import "media"
// Всегда в конце
